import class of project

In [1]:
from pyspark.sql import SparkSession

SparkSession start write pyspark code

In [2]:
spark=SparkSession.builder.appName("practice-sheet1").getOrCreate();
print(spark.sparkContext.getConf().getAll())

[('spark.driver.host', 'DESKTOP-OI3A44I'), ('spark.app.name', 'practice-sheet1'), ('spark.rdd.compress', 'True'), ('spark.app.startTime', '1737478978144'), ('spark.master', 'local[*]'), ('spark.app.submitTime', '1737478977816'), ('spark.driver.port', '55479'), ('spark.driver.extraJavaOptions', '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'), ('spark.executor.id', 'driver'), ('spark.submit.pyFiles', ''), ('spark.submit.deployMode', 'client'), ('spark.app.id', 'local-1737478979822'), ('spark.serializer.objectStreamReset', '100'), ('spark.executor.extraJavaOptions', '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'), ('spark.ui.showConsoleProgress', 'true')]

create schema of Person and Address

In [4]:
from pyspark.sql.types import StructType,StructField, IntegerType, StringType
#person schema
person_schema=StructType([
    StructField("personId", IntegerType(), True),
    StructField("lastName", StringType(), True),
    StructField("firstName", StringType(), True)                     
])

#Address schema

address_schema=StructType([
    StructField("addressId", IntegerType(), True),
    StructField("personId", IntegerType(), True),
    StructField("city", StringType(), True),
    StructField("state", StringType(), True)
])

print(person_schema, address_schema)

StructType([StructField('personId', IntegerType(), True), StructField('lastName', StringType(), True), StructField('firstName', StringType(), True)]) StructType([StructField('addressId', IntegerType(), True), StructField('personId', IntegerType(), True), StructField('city', StringType(), True), StructField('state', StringType(), True)])

Create Data of person and addrees Table

In [5]:
person_data = [
    (1, 'Smith', 'John'),
    (2, 'Johnson', None),
    (3, None, 'Liam'),
    (4, 'Taylor', 'Olivia'),
    (5, 'Anderson', None),
    (6, None, 'Ava'),
    (7, 'Jackson', 'William'),
    (8, 'White', 'Sophia'),
    (9, 'Harris', None),
    (10, None, 'Isabella'),
    (11, 'Clark', 'Emma'),
    (12, 'Martinez', 'Mia'),
    (13, None, 'Ethan'),
    (14, 'Lee', 'James'),
    (15, 'Walker', None)
]


address_data = [
    (1, 1, 'New York', 'NY'),
    (2, 2, None, 'CA'),
    (3, None, 'Chicago', 'IL'),  
    (4, 4, 'Houston', 'TX'),
    (5, None, 'Phoenix', 'AZ'),  
    (6, 6, None, 'PA'),
    (7, None, 'San Antonio', 'TX'),  
    (8, 8, 'San Diego', None),
    (9, 9, 'Dallas', 'TX'),
    (10, None, 'San Jose', None),  
    (11, 11, 'Austin', 'TX'),
    (12, None, 'Boston', 'MA'),  
    (13, 13, None, 'FL'),
    (14, 14, 'Seattle', 'WA'),
    (15, None, 'Denver', None),  
    (16, 1, 'Brooklyn', 'NY'),  
    (17, 2, 'Los Angeles', 'CA'),  
    (18, 8, 'La Jolla', 'CA'),  
    (19, 11, 'Round Rock', 'TX'),  
    (20, 4, 'Dallas', 'TX')  
]

df_person=spark.createDataFrame(data=person_data, schema=person_schema)
df_person.printSchema()
df_person.show(2)

df_address=spark.createDataFrame(data=address_data, schema=address_schema)
df_address.printSchema()
df_address.show(2)

root
 |-- personId: integer (nullable = true)
 |-- lastName: string (nullable = true)
 |-- firstName: string (nullable = true)

+--------+--------+---------+
|personId|lastName|firstName|
+--------+--------+---------+
|       1|   Smith|     John|
|       2| Johnson|     null|
+--------+--------+---------+
only showing top 2 rows

root
 |-- addressId: integer (nullable = true)
 |-- personId: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

+---------+--------+--------+-----+
|addressId|personId|    city|state|
+---------+--------+--------+-----+
|        1|       1|New York|   NY|
|        2|       2|    null|   CA|
+---------+--------+--------+-----+
only showing top 2 rows

-- Display the first 5 rows of each DataFrame.

In [6]:
df_address.display()

AttributeError: 'DataFrame' object has no attribute 'display'

-- Count the total number of rows in each DataFrame.

In [21]:
print(df_person.count())
print(df_address.count())

15
20

-- Print the schema of both DataFrames.

In [22]:
df_person.printSchema()
df_address.printSchema()

root
 |-- personId: integer (nullable = true)
 |-- lastName: string (nullable = true)
 |-- firstName: string (nullable = true)

root
 |-- addressId: integer (nullable = true)
 |-- personId: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

-- Find all persons whose lastName is NULL.

In [27]:
from pyspark.sql.functions import col
df_p_null=df_person.filter(col("lastName").isNull())
df_p_null.show()

+--------+--------+---------+
|personId|lastName|firstName|
+--------+--------+---------+
|       3|    null|     Liam|
|       6|    null|      Ava|
|      10|    null| Isabella|
|      13|    null|    Ethan|
+--------+--------+---------+

In [31]:
df_lastname_null=df_person.where(df_person.lastName == "Johnson")
df_lastname_null.show()

+--------+--------+---------+
|personId|lastName|firstName|
+--------+--------+---------+
|       2| Johnson|     null|
+--------+--------+---------+

-- Find all addresses located in the state of TX.

In [32]:
df_state=df_address.filter(col("state") == "TX")
df_state.show()

+---------+--------+-----------+-----+
|addressId|personId|       city|state|
+---------+--------+-----------+-----+
|        4|       4|    Houston|   TX|
|        7|    null|San Antonio|   TX|
|        9|       9|     Dallas|   TX|
|       11|      11|     Austin|   TX|
|       19|      11| Round Rock|   TX|
|       20|       4|     Dallas|   TX|
+---------+--------+-----------+-----+

-- Get all persons whose firstName starts with the letter J.

In [34]:
df_first_j = df_person.where(col("firstName").startswith("J"));
df_first_j.show();

+--------+--------+---------+
|personId|lastName|firstName|
+--------+--------+---------+
|       1|   Smith|     John|
|      14|     Lee|    James|
+--------+--------+---------+

-- Perform an inner join between the Person and Address DataFrames on personId.

In [35]:
jd_df=df_person.join(df_address, on="personId", how="inner")
jd_df.show()

+--------+--------+---------+---------+-----------+-----+
|personId|lastName|firstName|addressId|       city|state|
+--------+--------+---------+---------+-----------+-----+
|       1|   Smith|     John|        1|   New York|   NY|
|       1|   Smith|     John|       16|   Brooklyn|   NY|
|       2| Johnson|     null|        2|       null|   CA|
|       2| Johnson|     null|       17|Los Angeles|   CA|
|       4|  Taylor|   Olivia|        4|    Houston|   TX|
|       4|  Taylor|   Olivia|       20|     Dallas|   TX|
|       6|    null|      Ava|        6|       null|   PA|
|       8|   White|   Sophia|        8|  San Diego| null|
|       8|   White|   Sophia|       18|   La Jolla|   CA|
|       9|  Harris|     null|        9|     Dallas|   TX|
|      11|   Clark|     Emma|       11|     Austin|   TX|
|      11|   Clark|     Emma|       19| Round Rock|   TX|
|      13|    null|    Ethan|       13|       null|   FL|
|      14|     Lee|    James|       14|    Seattle|   WA|
+--------+--------+---------+---------+-----------+-----+

-- Perform a left join to get all persons and their addresses, even if the address is NULL.

In [36]:
leftjoin_df=df_person.join(df_address, on="personId", how="left")
leftjoin_df.show()

+--------+--------+---------+---------+-----------+-----+
|personId|lastName|firstName|addressId|       city|state|
+--------+--------+---------+---------+-----------+-----+
|       1|   Smith|     John|       16|   Brooklyn|   NY|
|       1|   Smith|     John|        1|   New York|   NY|
|       3|    null|     Liam|     null|       null| null|
|       2| Johnson|     null|       17|Los Angeles|   CA|
|       2| Johnson|     null|        2|       null|   CA|
|       5|Anderson|     null|     null|       null| null|
|       4|  Taylor|   Olivia|       20|     Dallas|   TX|
|       4|  Taylor|   Olivia|        4|    Houston|   TX|
|       6|    null|      Ava|        6|       null|   PA|
|       7| Jackson|  William|     null|       null| null|
|       9|  Harris|     null|        9|     Dallas|   TX|
|       8|   White|   Sophia|       18|   La Jolla|   CA|
|       8|   White|   Sophia|        8|  San Diego| null|
|      10|    null| Isabella|     null|       null| null|
|      11|   Clark|     Emma|       19| Round Rock|   TX|
|      11|   Clark|     Emma|       11|     Austin|   TX|
|      12|Martinez|      Mia|     null|       null| null|
|      13|    null|    Ethan|       13|       null|   FL|
|      15|  Walker|     null|     null|       null| null|
|      14|     Lee|    James|       14|    Seattle|   WA|
+--------+--------+---------+---------+-----------+-----+

-- Find persons who have no address in the Address table.

In [38]:
no_addres_df=leftjoin_df.where(col("state").isNull())
no_addres_df.show()

+--------+--------+---------+---------+---------+-----+
|personId|lastName|firstName|addressId|     city|state|
+--------+--------+---------+---------+---------+-----+
|       3|    null|     Liam|     null|     null| null|
|       5|Anderson|     null|     null|     null| null|
|       7| Jackson|  William|     null|     null| null|
|       8|   White|   Sophia|        8|San Diego| null|
|      10|    null| Isabella|     null|     null| null|
|      12|Martinez|      Mia|     null|     null| null|
|      15|  Walker|     null|     null|     null| null|
+--------+--------+---------+---------+---------+-----+

In [39]:
df_person.join(df_address, on="personId", how="left").where(col("addressId").isNull()).show()

+--------+--------+---------+---------+----+-----+
|personId|lastName|firstName|addressId|city|state|
+--------+--------+---------+---------+----+-----+
|       3|    null|     Liam|     null|null| null|
|       5|Anderson|     null|     null|null| null|
|       7| Jackson|  William|     null|null| null|
|      10|    null| Isabella|     null|null| null|
|      12|Martinez|      Mia|     null|null| null|
|      15|  Walker|     null|     null|null| null|
+--------+--------+---------+---------+----+-----+

-- Count the number of addresses in each state.

In [43]:
from pyspark.sql.functions import count
df_address.groupBy("state").agg(count("state").alias("count_state")).where(col("state").isNotNull()).show()

+-----+-----------+
|state|count_state|
+-----+-----------+
|   CA|          3|
|   NY|          2|
|   IL|          1|
|   TX|          6|
|   AZ|          1|
|   PA|          1|
|   MA|          1|
|   WA|          1|
|   FL|          1|
+-----+-----------+

-- Find the total number of unique city values in the Address DataFrame.

In [45]:
df_address.select("state").distinct().count()

10

-- Count how many persons have a NULL value for firstName.

In [46]:
df_person.where(col("firstName").isNull()).count()

4

In [47]:
df_person.show()

+--------+--------+---------+
|personId|lastName|firstName|
+--------+--------+---------+
|       1|   Smith|     John|
|       2| Johnson|     null|
|       3|    null|     Liam|
|       4|  Taylor|   Olivia|
|       5|Anderson|     null|
|       6|    null|      Ava|
|       7| Jackson|  William|
|       8|   White|   Sophia|
|       9|  Harris|     null|
|      10|    null| Isabella|
|      11|   Clark|     Emma|
|      12|Martinez|      Mia|
|      13|    null|    Ethan|
|      14|     Lee|    James|
|      15|  Walker|     null|
+--------+--------+---------+

-- Add a new column to the Person DataFrame called fullName that combines firstName and lastName.