Perfect! Below are **data engineer-focused Python problem-solving questions** with **realistic datasets (as copy-paste-friendly input)**. Each question includes a small sample dataset so you can copy and run directly in your editor or Jupyter.

---

### ğŸŸ¢ Beginner Level

---

#### 1. **Read a CSV File and Print Column Names**

**ğŸ“ Task:** Read a CSV and print all column names.

**ğŸ“„ Sample `sample.csv`:**

```csv
id,name,age,department
101,Navin,28,Engineering
102,Raj,32,HR
103,Sneha,25,Finance
```

---

#### 2. **Count Word Frequency in a Text File**

**ğŸ“ Task:** Count how many times each word appears.

**ğŸ“„ Sample `words.txt`:**

```
data is the new oil
data drives decisions
oil and data are valuable
```

---

#### 3. **Convert JSON Data to CSV**

**ğŸ“ Task:** Convert JSON to CSV.

**ğŸ“„ Sample `data.json`:**

```json
[
  {"id": 1, "name": "Navin", "age": 28},
  {"id": 2, "name": "Priya", "age": 26}
]
```

---

#### 4. **Extract Specific Columns from a CSV**

**ğŸ“ Task:** From the same `sample.csv`, extract only `name` and `department`.

---

### ğŸŸ¡ Intermediate Level

---

#### 5. **Group Sales Data by Region**

**ğŸ“ Task:** Calculate total sales per region.

**ğŸ“„ Sample `sales.csv`:**

```csv
region,product,sales
East,Mobile,200
West,Laptop,400
East,Laptop,100
South,Mobile,300
West,Mobile,150
```

---

#### 6. **Flatten Nested JSON**

**ğŸ“ Task:** Flatten into row-wise structure.

**ğŸ“„ Sample JSON (inline string):**

```json
{
  "id": 1,
  "name": "Navin",
  "address": {
    "city": "Delhi",
    "pincode": "110011"
  }
}
```

---

#### 7. **Paginate List of Records**

**ğŸ“ Task:** Break the list into pages of `n` records each.

**ğŸ“„ Sample Data (Python list):**

```python
records = [
    {"id": 1, "name": "Navin"},
    {"id": 2, "name": "Sneha"},
    {"id": 3, "name": "Karan"},
    {"id": 4, "name": "Riya"},
    {"id": 5, "name": "Amit"}
]
```

---

#### 8. **Split Large CSV into Smaller Chunks**

**ğŸ“ Task:** Split every 2 lines into separate files.

**ğŸ“„ Sample `large.csv`:**

```csv
id,name
1,Navin
2,Sneha
3,Karan
4,Riya
5,Amit
```

---

### ğŸ”´ Advanced Level

---

#### 9. **Top K Frequent Words**

**ğŸ“ Task:** Find top 2 most frequent words.

**ğŸ“„ Sample `sentences.txt`:**

```
data data spark cloud
data cloud cloud data
cloud spark data
```

---

#### 10. **Join Two Lists of Dicts (like SQL JOIN)**

**ğŸ“ Task:** Perform inner join on `id`.

**ğŸ“„ Sample Data:**

```python
employees = [
    {"id": 1, "name": "Navin"},
    {"id": 2, "name": "Sneha"},
    {"id": 3, "name": "Karan"}
]

salaries = [
    {"id": 1, "salary": 60000},
    {"id": 3, "salary": 55000}
]
```

---

Let me know which topic you'd like to start practicing â€” for example, [CSV parsing](f), [JSON flattening](f), [data joining](f), or [text analysis](f) â€” and Iâ€™ll give you full working code templates with solutions.