Great, Navin! Letâ€™s practice SQL interview questions one by one, starting from intermediate to advanced level. Here's your **first question**:

---

### âœ… **Question 1: Find the Second Highest Salary**

You are given a table named `Employees`:

**Columns**:

* `EmployeeID` (INT)
* `EmployeeName` (VARCHAR)
* `Salary` (INT)

ðŸ‘‰ **Task**: Write a SQL query to find the **second highest salary** from the `Employees` table.

* The result should return only the salary value.
* Do not use `LIMIT` or `TOP` if possible. Try using **subqueries or window functions**.

---

Let me know when you finish or if you'd like a hint or the solution.

1. select max(salary) as secondsalary
from employee 
where salary < (
    select max(salary) from employee
);

2. with table1 as (
    select employeeName, salary,
    row_number over (order by salary desc ) as rnk
    from employee
)
select * from table1 where rnk = 2;

Great, Navin! Here's your **SQL Question 2**, commonly asked in interviews:

---

### âœ… **Question 2: Find Employees Who Earn More Than Their Manager**

You are given an `Employees` table:

**Columns**:  
- `EmployeeID` (INT)  
- `EmployeeName` (VARCHAR)  
- `ManagerID` (INT) â€” refers to another `EmployeeID`  
- `Salary` (INT)

ðŸ‘‰ **Task**:  
Write a SQL query to find the names of employees who earn **more salary than their manager**.  
Include:
- `EmployeeName`
- `EmployeeSalary`
- `ManagerName`
- `ManagerSalary`

---

Let me know when you're ready with your solution, or if you'd like a hint.

SELECT e.*, m.\* 
FROM employee e 
INNER JOIN employee m ON e.managerId = m.employeeId
WHERE e.salary > m.salary;

Awesome, Navin! Here's your **SQL Question 3** â€” great for testing **aggregation + filtering** skills.

---

### âœ… **Question 3: Find Departments with More Than 3 Employees**

You are given an `Employees` table:

**Columns**:

* `EmployeeID` (INT)
* `EmployeeName` (VARCHAR)
* `DepartmentID` (INT)
* `Salary` (INT)

ðŸ‘‰ **Task**:
Write a SQL query to find the **DepartmentID** and the **number of employees** in each department, but only return those departments that have **more than 3 employees**.

---

Let me know when you're ready with your solution, or if you want a **hint**.

SELECT DepartmentID, COUNT(*) AS ct
FROM employee
GROUP BY DepartmentID
HAVING COUNT(*) > 3;

Great progress, Navin! Here's your **SQL Question 4**, which focuses on **window functions and ranking**.

---

### âœ… **Question 4: Top 2 Salaries Per Department**

You are given an `Employees` table:

**Columns**:

* `EmployeeID` (INT)
* `EmployeeName` (VARCHAR)
* `DepartmentID` (INT)
* `Salary` (INT)

ðŸ‘‰ **Task**:
Write a SQL query to find the **top 2 highest-paid employees in each department**.
Include:

* `DepartmentID`
* `EmployeeName`
* `Salary`

Use a **window function** (`ROW_NUMBER`, `RANK`, or `DENSE_RANK`) to solve this.

---

Let me know once you try it, or if you want a **hint**!