Q. Solve pyspark question :

id (INT), name (STRING), age (INT), salary (FLOAT)

Write a PySpark transformation to:

1. Filter out rows where age is greater than 30.

2. Sort the DataFrame by salary in descending order.

3. Select only the name and salary columns.

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName('question1').getOrCreate()

schema = ['id', 'name', 'age', 'salary']

data = [(1, 'navin ranjan', 27, 35000),
        (2, 'rohit ranjan', 23, 28000),
        (3, 'manoj ranjan', 38, 50000),
        (4, 'rakesh kumar', 25, 35000)]

df=spark.createDataFrame(data, schema)
df.show()

# Filter out rows where age is greater than 30.
fdf=df.filter(col('age')> 30)
fdf.show()

# Sort the DataFrame by salary in descending order.
sdf=df.orderBy(desc("age"))
sdf.show()

# Select only the name and salary columns.
nsdf= df.select(col('name'), col('salary'))
nsdf.show()



spark.stop()

+---+------------+---+------+
| id|        name|age|salary|
+---+------------+---+------+
|  1|navin ranjan| 27| 35000|
|  2|rohit ranjan| 23| 28000|
|  3|manoj ranjan| 38| 50000|
|  4|rakesh kumar| 25| 35000|
+---+------------+---+------+

+---+------------+---+------+
| id|        name|age|salary|
+---+------------+---+------+
|  3|manoj ranjan| 38| 50000|
+---+------------+---+------+

+---+------------+---+------+
| id|        name|age|salary|
+---+------------+---+------+
|  3|manoj ranjan| 38| 50000|
|  1|navin ranjan| 27| 35000|
|  4|rakesh kumar| 25| 35000|
|  2|rohit ranjan| 23| 28000|
+---+------------+---+------+

+------------+------+
|        name|salary|
+------------+------+
|navin ranjan| 35000|
|rohit ranjan| 28000|
|manoj ranjan| 50000|
|rakesh kumar| 35000|
+------------+------+