Q. Solve pyspark question :

id (INT), name (STRING), age (INT), salary (FLOAT)

Write a PySpark transformation to:

1. Filter out rows where age is greater than 30.

2. Sort the DataFrame by salary in descending order.

3. Select only the name and salary columns.

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName('question1').getOrCreate()

schema = ['id', 'name', 'age', 'salary']

data = [(1, 'navin ranjan', 27, 35000),
        (2, 'rohit ranjan', 23, 28000),
        (3, 'manoj ranjan', 38, 50000),
        (4, 'rakesh kumar', 25, 35000)]

df=spark.createDataFrame(data, schema)
df.show()

# Filter out rows where age is greater than 30.
fdf=df.filter(col('age')> 30)
fdf.show()

# Sort the DataFrame by salary in descending order.
sdf=df.orderBy(desc("age"))
sdf.show()

# Select only the name and salary columns.
nsdf= df.select(col('name'), col('salary'))
nsdf.show()



spark.stop()

+---+------------+---+------+
| id|        name|age|salary|
+---+------------+---+------+
|  1|navin ranjan| 27| 35000|
|  2|rohit ranjan| 23| 28000|
|  3|manoj ranjan| 38| 50000|
|  4|rakesh kumar| 25| 35000|
+---+------------+---+------+

+---+------------+---+------+
| id|        name|age|salary|
+---+------------+---+------+
|  3|manoj ranjan| 38| 50000|
+---+------------+---+------+

+---+------------+---+------+
| id|        name|age|salary|
+---+------------+---+------+
|  3|manoj ranjan| 38| 50000|
|  1|navin ranjan| 27| 35000|
|  4|rakesh kumar| 25| 35000|
|  2|rohit ranjan| 23| 28000|
+---+------------+---+------+

+------------+------+
|        name|salary|
+------------+------+
|navin ranjan| 35000|
|rohit ranjan| 28000|
|manoj ranjan| 50000|
|rakesh kumar| 35000|
+------------+------+

Q PySpark DataFrame with the following schema:
 id, name , age , salary
1. Register this DataFrame as a temporary view named "employees".
2. Write a Spark SQL query to select the names of employees who earn more than 30000 and are younger than 30.

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *


spark = SparkSession.builder.appName('question2').getOrCreate()

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("salary", LongType(), True)
])

data = [(23, 'navin', 13, 25000),
        (20, 'rohit', 17, 46000),
        (21, 'rohan', 23, 50000)]

df= spark.createDataFrame(data, schema)

df.createOrReplaceTempView("employees")

sdf=spark.sql(" select name from employees where salary> 30000 ")

sdf.show()

spark.stop()

+-----+
| name|
+-----+
|rohit|
|rohan|
+-----+

Write PySpark code to:

1. Group the data by region and product.
2. Calculate the total sales for each group.
3. Show the result.

columns = ['region', 'product', 'sales']

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark =SparkSession.builder.appName('question3').getOrCreate()

columns = ['region', 'product', 'sales']

data = [
    ('East', 'Apple', 1200),
    ('East', 'Banana', 800),
    ('West', 'Apple', 1500),
    ('West', 'Banana', 600),
    ('East', 'Apple', 500)
]

df=spark.createDataFrame(data, columns)
ndf=df.groupBy("region", "product").agg(sum("sales").alias("total_sum"))
ndf.show()

spark.stop()

+------+-------+-----+
|region|product|sales|
+------+-------+-----+
|  East|  Apple| 1200|
|  East| Banana|  800|
|  West|  Apple| 1500|
|  West| Banana|  600|
|  East|  Apple|  500|
+------+-------+-----+

+------+-------+---------+
|region|product|total_sum|
+------+-------+---------+
|  East|  Apple|     1700|
|  East| Banana|      800|
|  West|  Apple|     1500|
|  West| Banana|      600|
+------+-------+---------+